<html>
<title>CV NANDA</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://badoystudio.com/cloudme.fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Arial Rounded MT Bold", sans-serif}
</style>
<body class="w3-pink">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

<!-- The Grid -->
<div class="w3-row-padding">

<!-- Left Column -->
<div class="w3-third">

<div class="w3-white w3-text-light grey w3-card-4">
<div class="w3-display-container">
<img src="static/img/fotoaku.jpg" style="width:100%" alt="Avatar">
<div class="w3-display-bottomleft w3-container w3-text-grey">
<h2 style="color:rgb(249, 19, 147)"> <b><u>ERNANDA KUSUMA WIDANARYANTI</u></b></h2>
</div>
</div>
<div class="w3-container">
<p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-pink"></i>Mahasiswa</p>
<p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-pink"></i>Sumenep, Jawa Timur</p>
<p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-pink"></i>ernandakwidanaryanti@gmail.com</p>
<p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-pink"></i>087850753908</p>
<hr>


<p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-pink"></i>LANGUAGES</b></p>

<p>Indonesia</p>
<div class="w3-pink w3-round-xlarge">
<div class="w3-round-xlarge w3-pink w3-center" style="height:24px;width:100%">100%</div>
</div>
<p>English</p>
<div class="w3-container w3-center w3-round-xlarge w3-pink" style="width:75%">
<div class="w3-center w3-text-white">75%</div>
</div>
  <p>Madura</p>
<div class="w3-container w3-center w3-round-xlarge w3-pink" style="width:80%">
<div class="w3-center w3-text-white">80%</div>
</div>
<br>

</div>
</div><br>

<!-- End Left Column -->
</div>

<!-- Right Column -->
<div class="w3-twothird">
<div class="w3-container w3-card w3-white w3-margin-bottom">
<h2 class="w3-text-light grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-pink"></i><b>ORGANIZATION</b></h2>
<div class="w3-container">
<h5 class="w3-text-light grey"><b>UKM SPORA</b></h5>
<h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2020 - <span class="w3-tag w3-pink w3-round">Current</span></h6>
<p>UKM SPORA merupakan Unit Kegiatan Mahasiswa Seni Paduan Suara dan Olahraga yang ada di Fakultas Matematika dan Ilmu Pengetahuan Alam Universitas Jember. UKM SPORA sendiri menaungi 2 bidang yang saling bertolak belakang yakni Bidang Olahraga dan Bidang Paduang Suara Mahasiswa.</p>
<hr>

</div>
<div class="w3-container">
<h5 class="w3-text-light grey"><b>GenBI Jember</b></h5>
<h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2020 - <span class="w3-tag w3-pink w3-round">Current</span></h6>
  <p>Generasi Baru Indonesia Jember atau sering kali disebut dengan GenBI Jember merupakan suatu komunitas penerima Beasiswa Bank Indonesia. GenBI Jember sebagai garda terdepan <i>(frontliner)</i> untuk memberikan informasi tentang kebijakan Bank Indonesia, sebagai <i>agent of change</i> bagi masyarakat serta sebagai pemimpin Indonesia di masa mendatang <i>(future leader)</i>.</p>
<hr>
</div>
</div>

<div class="w3-container w3-card w3-white">
<h2 class="w3-text-light grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-pink"></i><b>EDUCATION</b></h2>
<div class="w3-container">
<h5 class="w3-text-light grey"><b>UNIVERSITAS JEMBER</b></h5>
<h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019 - <span class="w3-tag w3-pink w3-round">Current</span></h6>
<p>PROGRAM STUDI S1 MATEMATIKA</p>
<hr>
</div>
<div class="w3-container">
<h5 class="w3-text-light grey"><b>SMAN 1 SUMENEP</b></h5>
<h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017 - 2019</h6>
<p>IPA</p>
<hr>
</div>
<div class="w3-container">
<h5 class="w3-text-light grey"><b>SMPN 1 SUMENEP</b></h5>
<h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2017</h6>
<p>-</p>
<hr>
</div>
<div class="w3-container">
<h5 class="w3-text-light grey"><b>SDN PANGARANGAN 1</b></h5>
<h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2007 - 2013</h6>
<p>-</p><br>
</div>
</div>

<!-- End Right Column -->
</div>

<!-- End Grid -->
</div>

<!-- End Page Container -->
</div>

<footer class="w3-container w3-white w3-center w3-margin-top">
<p style="color:rgb(249, 19, 147)"><u><b><i>Find me on social media</i></b></u></p>
<i style="color:rgb(249, 19, 147)" class="fa fa-facebook-official w3-hover-opacity"></i>
<i style="color:rgb(249, 19, 147)" class="fa fa-instagram w3-hover-opacity"></i>
<i style="color:rgb(249, 19, 147)" class="fa fa-snapchat w3-hover-opacity"></i>
<i style="color:rgb(249, 19, 147)" class="fa fa-pinterest-p w3-hover-opacity"></i>
<i style="color:rgb(249, 19, 147)" class="fa fa-twitter w3-hover-opacity"></i>
<i style="color:rgb(249, 19, 147)" class="fa fa-linkedin w3-hover-opacity"></i>
<p style="color:rgb(249, 19, 147)"><u><b>THANK YOU</b></u></p>
</footer>

</body>
</html>